{% extends 'base.html.twig' %}
{% block title %}Soprano's Pizza{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
                    <div class="card">
                        <img src="../../img/boss.jpg" alt="">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                    Carleone Bambino <br>
                                    Adres: 1e van hofstraat 32 <br>
                                    Postcode: 2433EE <br>
                                    Nr.+31 0699438821 <br>
                                    Email: pizza.pizza@soprano.nl
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mt-5">

                        <div class="embed-responsive embed-responsive-100x400px">
                            <iframe src="https://maps.google.com/maps?q=denhaag&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>

                            </iframe>
                        </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

